body {
    background-color: #ffffff;
    color: #757575;
}
.logo {
    color: #2196f3;
}
ul {
    list-style: none;
}
span {
    color: #000000;
}

.site-nav .link {
    color: #212121;
}
.site-nav. link:hover .site-nav. link:focus {
    color: #2196f3;
}
